@import '../../../app/assets/styles/variables';

.root {
  display: flex;
}

.root__left {
  flex: 1 0;
  width: fit-content;
  height: 56px;
  appearance: none;
  background: $main-color;
  border: none;
  cursor: pointer;
  border-radius: 0 0 0 8px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  position: relative;

  & span {
    z-index: 1;
    color: $background;
    text-transform: uppercase;
  }

  &::after {
    content: "";
    background: rgb(255,255,255);
    position: absolute;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    transition-duration: 0.4s;
    height: 100%;
    left: -35%;
    top: 0;
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
    -webkit-transition-duration: 0.4s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 0;
  }

  &:hover::after {
    height: 100%;
    width: 135%;
    background: $main-color;
  }

  &:hover {
    box-shadow: -2px 2px 5px 1px rgb(0 0 0 / 20%);
    z-index: 1;
  }
}

.root__right {
  flex: 1 0;
  width: 100%;
  height: 56px;
  appearance: none;
  background: $secondary-color;
  border: none;
  cursor: pointer;
  border-radius: 0 0 8px 0;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  position: relative;

  & span {
    z-index: 1;
    text-transform: uppercase;
  }

  &::after {
    content: "";
    background: #fff;
    position: absolute;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    transition-duration: 0.4s;
    height: 100%;
    left: -35%;
    top: 0;
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
    -webkit-transition-duration: 0.4s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 0;
  }

  &:hover::after {
    height: 100%;
    width: 135%;
    background: $secondary-color;
  }

  &:hover {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}