@import '../../app/assets/styles/variables';

.root {
  border-radius: 6px;
  overflow: hidden;

  & th, td {
    &:not(:last-of-type) {
      border-right: 1px solid rgba(41, 41, 41, 0.1);
    }

  }

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  & thead {
    background: $body-background;
    height: 59px;
  }

  & tfoot {
    height: fit-content;
    background: $body-background;

    & td {
      padding: 1rem;
    }
  }

  &__order {
    width: 416px;
    height: 229px;
    background: $background;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    margin: 1rem;

    & h4 {
      font-size: 22px;
      color: $dark;
      margin-bottom: 22px;
    }

    & div {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
    }

    & div:first-of-type {
      color: $paragraph-color;
    }

    & div:nth-of-type(2) {
      color: $paragraph-color;
    }
    & div:last-of-type {
      color: $main-color;
    }
  }
}