@import '../../app/assets/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  &__head {
    display: flex;
    column-gap: 0.5rem;
  }

  &__head > p {
    color: $header-color;
  }

  &__link {
    color: $link;
    border-bottom: 2px solid transparent;
  }

  &__link:hover {
    border-bottom-color: $link;
  }

  &__link2 {
    color: $header-color !important;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;

    & aside {
      min-height: 500px;
      height: auto;
      background: #f5f5f5;
      border-right: 3px solid rgba(31,32,65,.1);
      padding: 8px 0;
      border-radius: 4px;
      min-width: 300px;
    }

    & aside li {
      display: flex;
      align-items: center;
      padding: 6px 16px;
      cursor: pointer;
      font-size: 20px;
      column-gap: 0.5rem;
    }

    & aside li:hover:not(.root__selected) {
      background: $secondary-color--0_5;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: -3px;
        top: 0;
        height: 100%;
        width: 3px;
        background: #d8a802;
      }
    }

    & aside li svg {
      width: 30px;
      height: 30px;
    }

    & aside .root__selected {
      background: $secondary-color;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -3px;
        top: 0;
        height: 100%;
        width: 3px;
        background: #d8a802;
      }
    }

    & section {
      max-width: none;
      margin: 0;
      flex: 2 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.6em;
}
}
}