@import "../../app/assets/styles/variables";

.root {
  position: fixed;
  bottom: 7rem;
  right: 3rem;
  width: 44px;
  height: 44px;
  fill: $main-color;
  cursor: pointer;
  background: white;
  border-radius: 6px;
  animation: .5s infinite alternate arrow;
}

@keyframes arrow {
  from {
    bottom: 7rem;
  }

  to {
    bottom: 7.3rem;
  }
}