@import "../../app/assets/styles/variables";

.root {
  width: 44px;
  height: 44px;
  fill: $main-color;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  animation: .5s infinite alternate arrow;
  box-shadow: 0 0 18px 10px rgb(0 0 0 / 20%);

  &:hover {
    fill: $orange;
  }
}