@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-BoldItalic.eot');
    src: local('PFDinDisplayPro-BoldItalic'),
        url('PFDinDisplayPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-BoldItalic.woff') format('woff'),
        url('PFDinDisplayPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-BlackItalic.eot');
    src: local('PFDinDisplayPro-BlackItalic'),
        url('PFDinDisplayPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-BlackItalic.woff') format('woff'),
        url('PFDinDisplayPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Thin.eot');
    src: local('PFDinDisplayPro-Thin'),
        url('PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Thin.woff') format('woff'),
        url('PFDinDisplayPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-ThinItalic.eot');
    src: local('PFDinDisplayPro-ThinItalic'),
        url('PFDinDisplayPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-ThinItalic.woff') format('woff'),
        url('PFDinDisplayPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Italic.eot');
    src: local('PFDinDisplayPro-Italic'),
        url('PFDinDisplayPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Italic.woff') format('woff'),
        url('PFDinDisplayPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-MediumItalic.eot');
    src: local('PFDinDisplayPro-MediumItalic'),
        url('PFDinDisplayPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-MediumItalic.woff') format('woff'),
        url('PFDinDisplayPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-LightItalic.eot');
    src: local('PFDinDisplayPro-LightItalic'),
        url('PFDinDisplayPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-LightItalic.woff') format('woff'),
        url('PFDinDisplayPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Black.eot');
    src: local('PFDinDisplayPro-Black'),
        url('PFDinDisplayPro-Black.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Black.woff') format('woff'),
        url('PFDinDisplayPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Regular.eot');
    src: local('PFDinDisplayPro-Regular'),
        url('PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Regular.woff') format('woff'),
        url('PFDinDisplayPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Light.eot');
    src: local('PFDinDisplayPro-Light'),
        url('PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Light.woff') format('woff'),
        url('PFDinDisplayPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Bold.eot');
    src: local('PFDinDisplayPro-Bold'),
        url('PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Bold.woff') format('woff'),
        url('PFDinDisplayPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('PFDinDisplayPro-Medium.eot');
    src: local('PFDinDisplayPro-Medium'),
        url('PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('PFDinDisplayPro-Medium.woff') format('woff'),
        url('PFDinDisplayPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

