@import '../variables';

@mixin Authorisation {
  max-width: 450px;
  margin: 0 auto;

  &__container {
    background: $body-background;
    padding: 20px;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__input {
    appearance: none;
    background: $background;
    border: 1px solid $gray-line;
    padding: 0.8rem;
    border-radius: 6px;
    width: 100%;
  }

  & h1 {
    text-align: center;
    color: $header-color;
    font-size: 36px;
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-bottom: -0.5rem;
  }
}