@import '../../../../app/assets/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & svg {
    font-weight: 300;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    margin-bottom: 5em;
    & h3 {
      opacity: 0.9;
      font-size: 3em;
      font-weight: 300;
      text-transform: uppercase;
      color: #3a3a3a;
      margin: 0;
    }

    & h4 {
      color: $paragraph-color;
      font-size: 2em;
      font-weight: 300;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content > fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0 0 40px;
    position: relative;
  }

  &__content > fieldset > label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0.2em;
    color: #898989;
    border-bottom: 0.1em solid transparent;
    position: relative;
  }

  &__content > fieldset > select {
    display: flex;
    width: 100%;
    height: 34px;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    font-size: 22px;
    font-weight: 300;
    color: #000;

    &:focus {
      box-shadow: inset 0 -2px 0 0 #da0000;
    }
  }

  &__content > fieldset:nth-of-type(1) {

    & > input {
      text-transform: capitalize;
    }
  }

  &__width_50 {
    width: calc(50% - 1em) !important;
  }

  &__content > fieldset:nth-of-type(6) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      width: calc(50% - 1em);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1em;
    }

    & input {
      font-size: 1.5em;
      pointer-events: none;
      outline: none;
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 1em;
      text-align: center;

      &::selection {
        background: none;
      }
      &::-moz-selection {
        background: none;
      }
    }

    & svg:hover {
      color: $main-color;
    }
  }

  &__btn_disabled {
    color: $gray;

    &:hover {
      color: $gray !important;
      cursor: not-allowed;
    }
  }

  &__content > fieldset:nth-of-type(8) {
    & > textarea {
      display: block;
      width: 100%;
      min-height: 75px;
      margin-top: 7px;
      padding: 10px;
      border: none;
      box-shadow: inset 0 0 0 1px #dbdbdb;
      font-size: 16px;
      font-weight: 300;
      color: #000;
      background: transparent;
      resize: none;
      overflow: hidden;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        box-shadow: inset 0 0 0 2px #da0002
      }
    }
  }

  &__input {
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    color: #000;
    padding: 4px 4px 5px 0;
    border: none;
    box-shadow: inset 0 -1px 0 0 #dbdbdb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;

    &:focus {
      box-shadow: inset 0 -2px 0 0 #da0000;
    }
  }

  &__input_invalid {
    background: rgba(214,15,19,.04);
    box-shadow: inset 0 -2px 0 0 #d60f14;
  }

  &__required::after {
    content: '*';
    font-size: 1.5em;
    position: absolute;
    right: -10px;
  }

}