@import '@assets/styles/variables';

.root {
  padding: 50px 75px 30px;
  border-radius: 12px;
  border: solid 1px $root-textActive;
  max-width: 80em;
  width: 100%;
  margin: 2em auto;
  background: $root-card-background;
}

@media (max-width: $mediumSize) {
  .root {
    padding: 50px 20px 30px;
  }
}
