.nav {
  width: 100%;
}

.root {
  display: flex;
  column-gap: 5px;
  overflow-x: scroll;
  padding-bottom: 5px;
  white-space: nowrap;
}

.root::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.root::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
.root::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
.root::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
.root::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}

@media (max-width: 1100px) {
  .root::-webkit-scrollbar {
    display: none;
  }

  .root > li:first-of-type {
    margin-left: 20px;
  }

  .root > li:last-of-type {
    margin-right: 20px;
  }
}