@import '../../../app/assets/styles/variables';

.root {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;

  & th, td {
    &:not(:last-of-type) {
      border-right: 1px solid rgba(41, 41, 41, 0.1);
    }

  }

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  & thead {
    background: $body-background;
    height: 59px;
    font-size: 1.5em;
  }

  & tfoot {
    height: fit-content;
    background: $body-background;

    & td {
      padding: 1rem;
    }
  }

  &__order {
    width: 416px;
    background: $background;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 30px -10px rgb(0 0 0 / 10%);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    margin: 1rem;

    & h4 {
      font-size: 22px;
      color: $dark;
      margin-bottom: 22px;
    }

    & div {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
    }

    & div:first-of-type {
      color: $paragraph-color;
    }

    & div:nth-of-type(2) {
      color: $paragraph-color;
    }
    & div:last-of-type {
      color: $main-color;
      border-top: 1px dashed black;
      margin-top: 1em;
      padding-top: 1em;
    }
  }

  &__type {
    padding-top: 2px;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px rgb(0 0 0 / 20%);
    max-width: 800px;
    margin: 2em auto;
    width: 100%;
  }

  &__type_title {
    padding: 30px 0 15px;
    text-align: center;

    & h3 {
      opacity: .9;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      color: #3a3a3a;
      margin: 0;
    }
  }

  &__type_buttons {
    padding: 15px 0 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 2em;
  }
}