@import '../../../assets/styles/variables';
@import '../../../assets/styles/libs/normalize';

.root {
  text-align: center;
  background: $header-background;
  width: 306px;
  height: 386.3px;
  padding: 25px 29px 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__rate {
    color: $paragraph-color;
    font-weight: 600;
  }

  &__stars {
    color: #d80027;

    & span {
      font-size: 20px;
    }
  }
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  transition: width ease-in-out 0.3s;
  //width: 248px;
  //height: 202px;

  &__resize {
    width: 100%;
    //width: 258px;
    //height: 212px;
  }
}

.title {
  font-weight: 600;
  color: $dark;
  white-space: nowrap;
  cursor: pointer;
  transition: color ease-in-out 0.2s;

  &:hover {
    color: $main-color;
  }
}

.selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;

  ul {
    display: flex;
    flex: 1;

    &:first-of-type {
      margin-bottom: 6px;
    }

    li {
      padding: 8px;
      flex: 1;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      @include noselect();
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.active_btn {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
