@import '@assets/styles/variables';

.root {
  position: relative;
  font-size: 1.7em;
  &__label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-top: 6px;

    svg {
      margin-right: 8px;
      color: $root-text;
    }

    b {
      margin-right: 8px;
      color: $root-text;
    }
  }

  &__link {
    color: $root-textActive;
    border-bottom: 1px dashed $root-textActive;
    cursor: pointer;
  }
}
