@import '../variables';
@import '../libs/normalize';

@mixin Button {
    display: inline-block;
    background-color: $orange;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
    border: 1px solid transparent;
    @include noselect();

    &,
    span {
        color: #fff;
    }

    i,
    span,
    path,
    svg {
        transition: all $duration ease-in-out;
    }

    &:hover {
        background-color: darken($orange, 8%);
    }

    &:active {
        background-color: darken($orange, 12%);
        transform: translateY(1px);
    }
}

@mixin Button--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
}

@mixin Button--outline {
    background-color: #fff;
    border-color: $orange;
    &,
    span {
        color: $orange;
    }

    svg {
        path {
            fill: $orange;
        }
    }

    &:hover {
        background-color: $orange;

        &,
        span {
            color: #fff;
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }

    &:active {
        background-color: darken($orange, 8%);
    }

    &:disabled {
        opacity: 0.3;
        border-color: #787878;

        svg path {
            fill: #787878;
        }

        &:active {
            transform: none;
        }

        &:hover {
            background: inherit;
            cursor: not-allowed;
        }
    }
}

@mixin Button--black {
    background-color: $black;

    &:hover,
    &:active {
        background-color: lighten($color: $black, $amount: 10);
    }
}
