@import '@assets/styles/variables';

.root {
  width: 100%;
  background: none;
  color: $root-text !important;
  font-size: 19px !important;

  display: flex;
  height: 34px;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  font-weight: 300;

  &:focus {
    border-bottom: 2px solid $root-textActive;
  }

  & > option {
    background: $root-card-background;

    &:checked {
      background: rgba(15, 15, 15, 0.9);
    }
  }
}