$black: #232323;
$background: #fff;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$header-background: #FAF7F2;
$body-background: #F6F1E7;
$header-color: #292929;
$secondary-color: #fdc913;
$secondary-color--0_5: rgba(253,201,19, 0.5);
$main-color: #da0002;
$dark: #212529;
$link: #8ba4f9;
$gray: rgba(31, 32, 65, 0.2);
$lite-gray: rgba(31, 32, 65, 0.1);
$paragraph-color: rgba(27, 27, 27, 0.7);

$container-width: 1320px;

$duration: 0.15s;
