@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-BoldItalic.eot");
  src: local("PFDinDisplayPro-BoldItalic"), url("../fonts/PFDinDisplayPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-BoldItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-BlackItalic.eot");
  src: local("PFDinDisplayPro-BlackItalic"), url("../fonts/PFDinDisplayPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-BlackItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Thin.eot");
  src: local("PFDinDisplayPro-Thin"), url("../fonts/PFDinDisplayPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Thin.woff") format("woff"), url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-ThinItalic.eot");
  src: local("PFDinDisplayPro-ThinItalic"), url("../fonts/PFDinDisplayPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-ThinItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Italic.eot");
  src: local("PFDinDisplayPro-Italic"), url("../fonts/PFDinDisplayPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Italic.woff") format("woff"), url("../fonts/PFDinDisplayPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-MediumItalic.eot");
  src: local("PFDinDisplayPro-MediumItalic"), url("../fonts/PFDinDisplayPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-MediumItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-LightItalic.eot");
  src: local("PFDinDisplayPro-LightItalic"), url("../fonts/PFDinDisplayPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-LightItalic.woff") format("woff"), url("../fonts/PFDinDisplayPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Black.eot");
  src: local("PFDinDisplayPro-Black"), url("../fonts/PFDinDisplayPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Black.woff") format("woff"), url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Regular.eot");
  src: local("PFDinDisplayPro-Regular"), url("../fonts/PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Regular.woff") format("woff"), url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Light.eot");
  src: local("PFDinDisplayPro-Light"), url("../fonts/PFDinDisplayPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Light.woff") format("woff"), url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Bold.eot");
  src: local("PFDinDisplayPro-Bold"), url("../fonts/PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Bold.woff") format("woff"), url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayPro-Medium.eot");
  src: local("PFDinDisplayPro-Medium"), url("../fonts/PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Medium.woff") format("woff"), url("../fonts/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "PF DinDisplay Pro", sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #212529;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "PF DinDisplay Pro", sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #212529;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "PF DinDisplay Pro", sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #212529;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
           supported by Chrome, Opera and Firefox */
}
.button,
.button span {
  color: #fff;
}
.button i,
.button span,
.button path,
.button svg {
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: #f24701;
}
.button:active {
  background-color: #de4101;
  transform: translateY(1px);
}
.button--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 1px;
}
.button--black {
  background-color: #232323;
}
.button--black:hover, .button--black:active {
  background-color: #3d3d3d;
}
.button--outline {
  background-color: transparent;
  border-color: #212529;
  transition: all ease-in-out 0.2s;
}
.button--outline,
.button--outline span {
  color: #fe5f1e;
}
.button--outline svg path {
  fill: #212529;
}
.button--outline:hover {
  background-color: #da0002;
  border-color: transparent;
}
.button--outline:hover,
.button--outline:hover span {
  color: #fff;
}
.button--outline:hover svg path {
  fill: #fff;
}
.button--outline:active {
  background-color: #f24701;
}
.button--outline:disabled {
  opacity: 0.3;
  border-color: #787878;
}
.button--outline:disabled svg path {
  fill: #787878;
}
.button--outline:disabled:active {
  transform: none;
}
.button--outline:disabled:hover {
  background: inherit;
  cursor: not-allowed;
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
.button--add {
  height: 45px;
}
.button--add svg {
  margin-right: 2px;
}
.button--add span {
  font-weight: 600;
  font-size: 16px;
}
.button--add:hover i {
  background-color: #fff;
  color: #fe5f1e;
}
.button--add i {
  display: inline-block;
  border-radius: 50%;
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}
.button--cart {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;
  min-width: auto;
}
.button--cart svg {
  margin-right: 8px;
  margin-bottom: 1px;
}
.button--cart span {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "PF DinDisplay Pro", sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #212529;
}

a {
  text-decoration: none;
}

.categories {
  width: 100%;
  position: relative;
}
@media (max-width: 1296px) {
  .categories {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: thin;
  }
}
.categories ul {
  display: flex;
  column-gap: 17px;
}
.categories ul li {
  background-color: #FAF7F2;
  padding: 13px 30px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
           supported by Chrome, Opera and Firefox */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-weight: 400;
  width: 206px;
  height: 70px;
  font-size: 1.7em;
}
.categories ul li:hover {
  background-color: #f7f2eb;
}
.categories ul li.categories-item--active {
  background-color: #292929;
  color: #fff;
}

.sort {
  position: relative;
  font-size: 1.7em;
}
.sort__label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.sort__label svg {
  margin-right: 8px;
  color: #212529;
}
.sort__label b {
  margin-right: 8px;
  color: #212529;
}
.sort__label span {
  color: #da0002;
  border-bottom: 1px dashed #da0002;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
}
.sort__popup ul {
  overflow: hidden;
}
.sort__popup ul li {
  padding: 12px 20px;
  cursor: pointer;
}
.sort__popup ul li.active, .sort__popup ul li:hover {
  background: rgba(254, 95, 30, 0.05);
}
.sort__popup ul li.active {
  font-weight: bold;
  color: #da0002;
}

body {
  background-color: #fff;
  font-size: 10px;
}

.App {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1320px;
}
@media (max-width: 465px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }
}

.content {
  padding: 100px 0;
}
.content__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 36px;
  color: #212529;
}
.content__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-items: center;
}
@media (max-width: 1400px) {
  .content__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1055px) {
  .content__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 735px) {
  .content__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.content__skeleton {
  row-gap: 28px;
}
.content__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;
}
@media (max-width: 1296px) {
  .content__top {
    column-gap: 1rem;
  }
}
@media (max-width: 870px) {
  .content__top {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
  }
}

.container {
  max-width: 1320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .content__title {
  display: flex;
  align-items: center;
  font-size: 32px;
}
.cart .content__title svg {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.cart .content__title svg path {
  stroke: #232323;
  stroke-width: 1.9;
}
.cart__clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
           supported by Chrome, Opera and Firefox */
}
.cart__clear span {
  display: inline-block;
  margin-left: 7px;
  color: #b6b6b6;
  font-size: 18px;
}
.cart__clear span,
.cart__clear svg,
.cart__clear path {
  transition: all 0.15s ease-in-out;
}
.cart__clear:hover svg path {
  stroke: #373737;
}
.cart__clear:hover span {
  color: #373737;
}
.cart__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart__bottom {
  margin: 50px 0;
}
.cart__bottom-details {
  display: flex;
  justify-content: space-between;
}
.cart__bottom-details span {
  font-size: 22px;
}
.cart__bottom-details span:last-of-type b {
  color: #fe5f1e;
}
.cart__bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cart__bottom-buttons .go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  border-color: #dddddd;
}
.cart__bottom-buttons .go-back-btn span {
  color: #c3c3c3;
  font-weight: 600;
}
.cart__bottom-buttons .go-back-btn:hover {
  background-color: #111111;
  border-color: #111111;
}
.cart__bottom-buttons .go-back-btn:hover span {
  color: #f6f6f6;
}
.cart__bottom-buttons .go-back-btn svg {
  margin-right: 12px;
}
.cart__bottom-buttons .go-back-btn svg path {
  fill: transparent;
  stroke-width: 2;
}
.cart__bottom-buttons .pay-btn {
  font-size: 16px;
  font-weight: 600;
  width: 210px;
  padding: 16px;
}
.cart--empty {
  margin: 0 auto;
  width: 560px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart--empty h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.cart--empty p {
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777;
}
.cart--empty img {
  display: block;
  width: 300px;
  margin: 45px auto 60px;
}
.cart--empty .button--black {
  padding: 12px 0 14px;
  width: 230px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
}

/*# sourceMappingURL=app.css.map */
