@import '@assets/styles/variables';
@import '@assets/styles/mixins/authorisation';

.root {
  @include Authorisation;

  & p {
    margin-top: 1rem;
    font-size: 2em;

    & span {
      cursor: pointer;
      color: blue;

      &:hover {
        color: darkslateblue;
      }
    }
  }

  &__error {
    font-size: 16px;
  }
}