@import "../../app/assets/styles/variables";
@import '../../app/assets/styles/mixins/container';

.root {
  width: 100%;
  background: $root-header--1;
  padding: 20px 0;
}

.about {
  font-size: 20px;
}

.tel {
  font-size: 22px;
}

.links > a {
  font-size: 22px;

  &:hover {
    color: $root-textActive;
  }
}

.center {
  text-align: center;

  & > span {
    font-size: 18px;
  }
}

.categories > span {
  font-size: 18px;
}