@import "@assets/styles/variables";
.root {
  row-gap: 10px;
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin: 0 auto;
}

.wrapper {
  margin-top: 20px;
  display: flex;flex-direction: column;
  row-gap: 20px;
}
