@import '../../../app/assets/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.root h4 {
  display: inline-block;
  text-transform: uppercase;
  color: $info-color;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.root p {
  display: inline-block;
  width: 100%;
  padding: 4px 4px 5px 0;
  color: $root-text;
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
}