@import "../../app/assets/styles/variables";

.map {
  border-radius: 6px;
}

.box {
  background: $root-card-background;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1;

  & > h2 {
    font-size: 24px;
  }

  & span {
    font-size: 16px;
    text-align: left;
  }

  & > div {
    align-items: center;
    column-gap: 10px;
  }
}

.bottom {
  margin-top: 40px;
}

@media (max-width: $mediumSize) {
  .bottom > div {
    flex-direction: column;
    row-gap: 10px;
  }
}