@import '../variables';
@import '../libs/normalize';

.categories {
  width: 100%;
  position: relative;

  @media (max-width: 1296px) {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: thin;
  }

  ul {
    display: flex;
    column-gap: 17px;

    li {
      background-color: $header-background;
      padding: 13px 30px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      font-weight: 500;
      width: 206px;
      height: 70px;
      font-size: 1.5em;

      &:hover {
        background-color: darken($header-background, 2%);
      }

      &:active {
        background-color: darken($header-background, 5%);
      }

      &.categories-item--active {
        background-color: $header-color;
        color: #fff;
      }
    }
  }
}
