@import '../variables';

.sort {
  position: relative;
  font-size: 1.7em;
  &__label {
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      margin-right: 8px;
      color: $dark;
    }

    b {
      margin-right: 8px;
      color: $dark;
    }

    span {
      color: $main-color;
      border-bottom: 1px dashed $main-color;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 0 30px -10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $main-color;
        }
      }
    }
  }
}
