@import "@assets/styles/variables";

.root {
  padding: 5px;
  width: 130px;
  border-radius: 12px;
  transition: background-color .1s ease-in-out;
  & span {
    color: $root-text;
    font-size: 17px;
    transition: color .1s ease-in-out;
  }

  &:hover {
    background-color: $root-header--08;
  }

  &:hover > span {
    color: $root-textActive;
  }
}

.rootActive {
  background-color: $root-header--08;
  padding: 5px;
  width: 130px;
  border-radius: 12px;
  & span {
    font-size: 17px;
    color: $root-textActive;
  }
}