.root {
  row-gap: 10px;
}

.title {
  font-size: 24px;
  margin: 0 auto;
}

.search {
  margin-bottom: 20px !important;
}


.wrapper {
  margin-top: 20px;
  display: flex;flex-direction: column;
  row-gap: 20px;
}