@import '@assets/styles/variables';

.root {
  & > input {
    width: 100%;
  }
  & > input::-webkit-file-upload-button {
    background: none;
    color: $root-textActive;
    border: 2px solid $root-textActive;
    cursor: pointer;
    position: relative;
    height: 30px;
    padding: 0 15px;
    //line-height: 46px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity ease .5s;
    min-width: 140px;
    max-width: 160px;
    width: 100%;
    text-decoration: none;

    &:hover {
      color: $root-text;
      background: $root-textActive;
      border: 2px solid $root-textActive;
      filter: brightness(1.1);
    }

    &:disabled {
      background: $root-textActive;
      color: $root-text;
      opacity: 0.6;
    }

  }
}