@import '../../../app/assets/styles/variables';

.root {
  width: 139px;
  height: 42px;
  appearance: none;
  background: rgba(253, 201, 19, 0.2);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  position: relative;

  & span {
    z-index: 1;
  }

  & span:last-child {
    color: $main-color
  }

  &::after {
    content: "";
    background: $secondary-color;
    position: absolute;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    transition-duration: 0.4s;
    height: 100%;
    left: -35%;
    top: 0;
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
    -webkit-transition-duration: 0.4s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 0;
  }

  &:hover::after {
    height: 100%;
    width: 135%;
    background: $secondary-color;
  }

  &:hover {
    border: 1px solid $dark;
  }

  &__amountBlock {
    display: flex;
    column-gap: 8px;
    align-items: center;
    height: 42px;
  }
}