@import '../../../app/assets/styles/variables';
@import '../../../app/assets/styles/libs/normalize';

.root {
  text-align: center;
  background: $header-background;
  width: 306px;
  height: 386.3px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14em;
    padding: 0 29px 30px;
  }

  &__description {
    & p {
      color: $root-text;
      font-size: 1.5em;
    }
  }

}

.image {
  display: block;
  width: 100%;
  overflow-y: auto;
  transition: width ease-in-out 0.3s;
}

.title {
  font-weight: 600;
  color: $root-text;
  white-space: nowrap;
  cursor: pointer;
  transition: color ease-in-out 0.2s;
  font-size: 1.7em;

  &:hover {
    color: $root-textActive;
  }
}

.selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;

  ul {
    display: flex;
    flex: 1;

    &:first-of-type {
      margin-bottom: 6px;
    }

    li {
      padding: 8px;
      flex: 1;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      @include noselect();
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.015em;
  color: $root-text;
}

.active_btn {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
