@import '@assets/styles/variables';
@import '@assets/styles/mixins/container';

.root {
  width: 100%;
  background: $root-header--1;
  padding: 20px 0;
}

.about {
  font-size: 20px;
}

.container {
  @include Container;
}
