@import '../../../../app/assets/styles/variables';

.root {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

  &__price {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    & p {
      font-size: 2.5em;
    }
  }

  &__agreement {
    display: flex;
    align-items: center;
    column-gap: 1em;

    & a {
      color: $main-color;
      text-decoration: none;
      opacity: .9;
      border-bottom: 1px dashed $main-color;
      padding-bottom: 0.1em;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    color: #898989;
    font-size: 1.3em;
  }

  &__order {
    width: 416px;
    background: $background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 30px -10px rgb(0 0 0 / 20%);
  }

  &__total {
    margin: 1rem;

    & h4 {
      font-size: 22px;
      color: $dark;
      margin-bottom: 22px;
    }

    & div {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
    }

    & div:first-of-type {
      color: $paragraph-color;
    }

    & div:nth-of-type(2) {
      color: $paragraph-color;
    }
    & div:last-of-type {
      color: $main-color;
      border-top: 1px dashed black;
      margin-top: 1em;
      padding-top: 1em;
    }
  }
}
