@import '@assets/styles/variables';

.root {
  position: relative;
  font-size: 1.7em;
  &__label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-top: 6px;

    svg {
      margin-right: 8px;
      color: $root-text;
    }

    b {
      margin-right: 8px;
      color: $root-text;
    }
  }

  &__link {
    color: $root-textActive;
    border-bottom: 1px dashed $root-textActive;
    cursor: pointer;
  }


  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: $root-card-background;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &:hover {
          background: $root-textHover;
        }
      }
    }

    &_active {
      background: rgba(254, 95, 30, 0.05);
      font-weight: bold;
      color: $root-textActive;
    }
  }
}