@import '../../assets/styles/variables';
@import '../../assets/styles/mixins/authorisation';

.root {
  @include Authorisation;

  & p {
    margin-top: 1rem;

    & span {
      cursor: pointer;
      color: blue;

      &:hover {
        color: darkslateblue;
      }
    }
  }

  &__password {
    position: relative;
  }

  &__password svg {
    position: absolute;
    top: calc(50% - 9px);
    right: 1rem;
    width: 18px;
    height: 18px;
    cursor: pointer;
    fill: $dark;
  }
}