@import '../../assets/styles/variables';
@import '../../assets/styles/mixins/authorisation';

.root {
  @include Authorisation;

  & p {
    margin-top: 1rem;

    & span {
      cursor: pointer;
      color: blue;

      &:hover {
        color: darkslateblue;
      }
    }
  }
}