$black: #232323;
$background: #fff;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$header-background: #FAF7F2;
$header-color: #292929;
$secondary-color: #fdc913;
$main-color: rgb(206, 40, 41);
$dark: #212529;
$paragraph-color: rgba(27, 27, 27, 0.7);

$container-width: 1320px;

$duration: 0.15s;
