@import 'fonts';
@import 'variables';
@import 'mixins/noselect';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $root-background;
  font-size: 10px;
  overflow-x: hidden;
  color: $root-text;
}