@import 'fonts';
@import 'variables';
@import "mixins/noselect";
@import 'libs/normalize';
@import "mixins/container";

@import 'components/all';

body {
  background-color: $root-background;
  font-size: 10px;
  overflow-x: hidden;
  color: $root-text;
}

.App {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 100px 0;
  flex: 1;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 800;
    font-size: 36px;
    color: $root-text;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 55px;
    justify-items: center;

    & > div {
      background: $root-header--1;
    }

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1055px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 735px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__skeleton {
    row-gap: 28px;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 30px;
    justify-content: space-between;

    @media (max-width: 1296px) {
      column-gap: 1rem;
    }

    @media (max-width: 870px) {
      flex-direction: column-reverse;
      row-gap: 1.5rem;
    }
  }
}

@media (max-width: $smallSize) {
  .content__head {
    margin-top: 20px;
    flex-direction: column-reverse;
  }
}

@media (max-width: $mediumSize) {
  .content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .App {
    padding-bottom: 68px;
  }
}

.container {
  @include Container;
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }
  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }

      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;

          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: $root-text;
    }

    @media (max-width: $mediumSize) {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    img {
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}