@import '@assets/styles/mixins/authorisation';

.root {
  @include Authorisation;

  &__topInfo {
    font-size: 14px;

   & > svg {
     width: 9px;
     height: 9px;
     color: red;
    }
  }

  & p {
    margin-top: 1rem;
    font-size: 2em;

    & span {
      cursor: pointer;
      color: blue;

      &:hover {
        color: darkslateblue;
      }
    }
  }

  &__error {
    font-size: 16px;
  }
}