@import '@assets/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & svg {
    font-weight: 300;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    margin-bottom: 5em;

    & h3 {
      opacity: 0.9;
      font-size: 3em;
      font-weight: 300;
      text-transform: uppercase;
      color: $root-text;
      margin: 0;
    }

    & h4 {
      color: $root-text;
      font-size: 2em;
      font-weight: 300;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content > fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0 0 40px;
    position: relative;
  }

  &__content > fieldset > label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0.2em;
    color: #898989;
    border-bottom: 0.1em solid transparent;
    position: relative;
  }

  &__content > fieldset > select {
    display: flex;
    width: 100%;
    height: 34px;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    font-size: 22px;
    font-weight: 300;
    background: none;
    color: $root-text;

    & > option {
      background: $root-card-background;
    }

    &:focus {
      border-bottom: 2px solid $root-textActive;
    }
  }

  &__content > fieldset:nth-of-type(1) {

    & > input {
      text-transform: capitalize;
    }
  }

  &__width_50 {
    width: calc(50% - 1em) !important;
  }

  &__width_33 {
    width: calc(33.3% - 1em) !important;
  }

  &__radio {
    & input {
      display: none;
    }


    &_outer {
        border: 2px solid $gray;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -3px;
        left: 0;
    }

    &_outer_checked {
        border: 2px solid $root-textActive;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: -3px;
        left: 0;
    }

    &_inner_checked {
        width: 12px;
        height: 12px;
        background: $root-textActive;
        border-radius: 50%;
    }

    & label {
      padding-left: 2em;
      cursor: pointer;
    }
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      width: calc(50% - 1em);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1em;
    }

    & input {
      font-size: 1.5em;
      pointer-events: none;
      outline: none;
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 1em;
      text-align: center;
      color: $root-text;

      &::selection {
        background: none;
      }

      &::-moz-selection {
        background: none;
      }
    }

    & svg:hover {
      color: $root-textActive;
    }
  }

  &__btn_disabled {
    color: $info-color;

    &:hover {
      color: $info-color !important;
      cursor: not-allowed;
    }
  }

  &__content textarea {
    display: block;
    width: 100%;
    min-height: 75px;
    margin-top: 7px;
    padding: 10px;
    border: none;
    box-shadow: inset 0 0 0 2px #dbdbdb;
    font-size: 16px;
    font-weight: 300;
    color: $root-text;
    background: transparent;
    resize: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      box-shadow: inset 0 0 0 2px $root-textActive
    }
  }

  &__input {
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    color: $root-text;
    padding: 4px 4px 5px 0;
    border: none;
    box-shadow: inset 0 -2px 0 0 #dbdbdb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
    background: none;

    &:focus {
      box-shadow: inset 0 -2px 0 0 $root-textActive;
    }
  }

  &__input_invalid {
    background: rgba(214, 15, 19, .04);
    box-shadow: inset 0 -2px 0 0 #d60f14;
  }

  &__required::after {
    content: '*';
    font-size: 1.5em;
    position: absolute;
    right: -10px;
  }
}

@media (max-width: $mediumSize) {
  .root__title {
    & > h3 {
      font-size: 24px;
    }
  }
}