@import '@assets/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__head {
    display: flex;
    column-gap: 0.5rem;
    font-size: 2em;
  }

  &__head > p {
    color: $header-color;
  }

  &__body {
    display: flex;
    column-gap: 1rem;

    & aside {
      min-height: 500px;
      height: auto;
      background: $root-card-background;
      border-right: 3px solid rgba(31, 32, 65, .1);
      padding: 8px 0;
      border-radius: 4px;
      min-width: 300px;
    }

    & aside li {
      display: flex;
      align-items: center;
      padding: 6px 16px;
      cursor: pointer;
      font-size: 20px;
      column-gap: 0.5rem;
    }

    & aside li:hover:not(.root__selected) {
      background: $root-textHover;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -3px;
        top: 0;
        height: 100%;
        width: 3px;
        background: $root-textActive;
      }
    }

    & aside li svg {
      width: 30px;
      height: 30px;
    }

    & aside .root__selected {
      background: $root-textActive;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -3px;
        top: 0;
        height: 100%;
        width: 3px;
        background: $root-textHover;
      }
    }

    & section {
      max-width: none;
      margin: 0;
      flex: 2 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.6em;
    }
  }
}

.breadcrumbs {
  color: $root-text !important;

  & a:hover {
    border-bottom: 1px solid $root-text;
  }

  & p {
    color: $root-textActive;
  }
}

@media (max-width: $mediumSize) {
  .root__body {
    flex-direction: column;
  }
}